caveman
corenlp
turk
Submiterator
analysis/comparison-class.html
writing/cogsci17/comparison-class-cogsci17.pdf
writing/cogsci17/comparison-class-cogsci17.tex
mturk
*.DS_Store
*.nb.html
*.Proj
*.Rproj
*.Rhistory
*.RData
*.Rproj.user
*invoice.csv
.Rproj.user
analysis/fig/
*.aux
*.log
*.out
