caveman
corenlp
turk
Submiterator
analysis/comparison-class.html
writing/cogsci17/comparison-class-cogsci17.pdf
writing/cogsci17/comparison-class-cogsci17.tex
writing/cogsci17/comparison-class/
writing/cogsci17/comparison-class-cogsci17_cache
writing/cogsci17/figs
mturk
*.DS_Store
*.nb.html
*.Proj
*.Rproj
*.Rhistory
*.RData
*.Rproj.user
*invoice.csv
.Rproj.user
analysis/fig/
*.aux
*.log
*.out
models/sherlock/node_modules/utils/node_modules/
models/sherlock/results/trash/
models/sherlock/results/
*.synctex.gz
